body {
    background-image: url('../images/Stomana_back.png');
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    
    color: #343A40; /* Text Color */
    height: 100vh; /* Ensure the body covers the entire viewport */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set the width to 100% of the viewport */
    overflow: hidden; /* Hide overflow */
    box-sizing: border-box;
}



.content-wrapper {
    /*background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    /*background-color: inherit;*/
    /*flex-direction: column;*/
    padding: 1 1rem;
    width: 100%;
    margin: 1;
    /*width: auto;*/
    /*max-width: 1200px;*/
    display: flex;
    height: getViewportHeight();
    justify-content: center;
    font-weight: bold;
    align-items: center;
    
}



.statistics {
    transform: scale(1.5); /* Zoom out by 10% */
    transform-origin: left; /* Ensure the zoom is anchored to the top right */
    text-align: left; /* Align text to the right */
    flex: 1;
    justify-self: start;
    margin: 0;
    padding: 1rem;
    width: 90%;
}

#locationPieChart {
    display: block;
    margin: 0 auto; /* Center the chart */
    max-width: 400px; /* Ensure it doesn't exceed 200px */
    max-height: 400px; /* Ensure it doesn't exceed 200px */
}

nav {
    display: flex;
    /*width: 100%;*/
    justify-content: space-between;
    /*padding: 0.5rem;*/
    background-color: #006877; /* Primary Color */
    color: #FFFFFF; /* Text Color */
    font-size: 2.0rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    height: 80px;
   /* margin: 10px;*/
    align-items: center;
    
}

.full-width-navbar {
    width: 100%;
    position: flex; /* Fix the navbar to the top */
}
.logo {
    /*max-height: 50px; /* Adjust the height as needed */
    margin-right: 0rem; /* Add some margin to the right */
    background-color: #FFFFFF; /* Add a white background to the logo */
    padding: 6px; /* Add some padding to the logo */
    border-radius: 2px; /* Add rounded corners to the logo */
    vertical-align: baseline;
}

.safety-info {
    font-size: 2rem; /* Bigger font size */
    color: #d21010; /* White color */
    background-color: transparent !important; /* No background color */
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: 0 auto; /* Center the text */
    text-align: center; /* Center the text */
}


main {
    flex-grow: 3;
    height: 100%;
    margin: 10px;
    width: 100%;
    display: auto;
    justify-content: center;
    /*padding-left: 0;*/
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

pp {
    text-align: right;
    color: rgb(1, 10, 11);
    margin: 1rem;   
    position: right;
    font-size: 1rem;
}

h1,
p {
    text-align: right;
    color: rgb(1, 10, 11);
    
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: burlywood;
    height: 84px;
}

a:hover {
    opacity: 0.7;
}
h2 {
    text-align: center;
    color: rgb(232, 16, 41);
    margin: 2rem;   
    font-weight: bold;
    font-size: 3rem;
}


.blinking {
    animation: blinkingText 1.5s infinite;
}
    
@keyframes blinkingText {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.highlight {
    color: #2ed381; /* Accent Color */
    font-weight: bold; /* Make the text bold */
}

.footer {
    bottom: 2px; /* Position it 10px from the bottom */
    right: 2px; /* Position it 10px from the right */
    font-size: 5px; /* Make the font smaller */
    color: #080303; /* White text for better visibility */
    
    margin-top: auto;
}

nav a {
    color: #FFFFFF; /* White text */
    justify-content: space-between;
    text-decoration: none; /* Remove underline */
    height: 100%;
  
    display: flex; /* Use flexbox for alignment */
}
.statistics-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chart-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;

}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.responsive-canvas {
    width: 100%;
    height: 100%;
}
.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide overflow */
}
.canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width/height calculations */
}

.navbar-nav {
    display: flex;
    
    align-items: right;
    width: 100%;
   
    
    color: #FFFFFF; /* Text Color */
    font-size: 1.0rem;
    list-style: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */}

#datetime {
        color: white; /* Adjust color as needed */
        font-size: 14px; /* Adjust size as needed */
        margin-left: auto; /* Push to the right */
    }

